@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--font-sans:
		ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji";

	--font-mono:
		"ui-monospace", "SFMono-Regular", "Menlo", "Monaco", "Consolas", '"Liberation Mono"',
		'"Courier New"', "monospace";

	--z-index-modal: 1300;

	--color-bg: var(--bg);
	--color-fg: var(--fg);

	--color-primary: var(--primary);
	--color-primary-fg: var(--primary-fg);

	--color-secondary: var(--secondary);
	--color-secondary-fg: var(--secondary-fg);

	--color-accent: var(--accent);
	--color-accent-fg: var(--accent-fg);

	--color-success: var(--success);
	--color-success-fg: var(--success-fg);

	--color-danger: var(--danger);
	--color-danger-fg: var(--danger-fg);

	--color-warning: var(--warning);
	--color-warning-fg: var(--warning-fg);

	--color-muted: var(--muted);
	--color-muted-fg: var(--muted-fg);

	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-popover: var(--popover);
	--color-surface: var(--surface);

	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
}

:root {
	--bg: #fcfcfc;
	--fg: oklch(0.141 0.005 285.823);

	--primary: oklch(0.4955 0.1943 260.47);
	--primary-fg: oklch(1 0 0);

	--secondary: oklch(0.92 0.004 286.32);
	--secondary-fg: oklch(0.141 0.005 285.823);

	--accent: oklch(0.546 0.245 262.881);
	--accent-fg: oklch(1 0 0);

	--muted: oklch(0.967 0.001 286.375);
	--muted-fg: oklch(0.552 0.016 285.938);

	--success: oklch(0.596 0.145 163.225);
	--success-fg: oklch(1 0 0);

	--warning: oklch(0.828 0.189 84.429);
	--warning-fg: oklch(0.279 0.077 45.635);

	--danger: oklch(0.577 0.245 27.325);
	--danger-fg: oklch(0.971 0.013 17.38);

	--border: oklch(0.92 0.004 286.32);
	--input: oklch(0.89 0 286.286);
	--ring: oklch(0.546 0.345 262.881);
	--popover: oklch(1 0 0);
	--surface: #fff;

	--chart-1: oklch(54.6% 0.245 262.881);
	--chart-2: oklch(80.9% 0.105 251.813);
	--chart-3: oklch(55.8% 0.288 302.321);
	--chart-4: oklch(82.7% 0.119 306.383);
	--chart-5: oklch(62.7% 0.194 149.214);
	--chart-6: oklch(87.1% 0.15 154.449);
	--chart-7: oklch(66.6% 0.179 58.318);
	--chart-8: oklch(83.7% 0.128 66.29);
	--chart-9: oklch(57.7% 0.245 27.325);
	--chart-10: oklch(80.8% 0.114 19.571);

	--radius-lg: 0.5rem;
	--radius-xs: calc(var(--radius-lg) * 0.5);
	--radius-sm: calc(var(--radius-lg) * 0.75);
	--radius-md: calc(var(--radius-lg) * 0.9);
	--radius-xl: calc(var(--radius-lg) * 1.25);
	--radius-2xl: calc(var(--radius-lg) * 1.5);
	--radius-3xl: calc(var(--radius-lg) * 2);
	--radius-4xl: calc(var(--radius-lg) * 3);
}

.dark {
	--bg: #1a1a1a;
	--fg: oklch(0.985 0 0);

	--primary: oklch(0.546 0.1943 260.47);
	--primary-fg: oklch(1 0 0);

	--secondary: oklch(0.34 0 0);
	--secondary-fg: oklch(0.985 0 0);

	--accent: oklch(0.546 0.245 262.881);
	--accent-fg: oklch(1 0 0);

	--muted: oklch(0.21 0.006 285.885);
	--muted-fg: oklch(0.705 0.015 286.067);

	--success: oklch(0.596 0.145 163.225);
	--success-fg: oklch(1 0 0);

	--warning: oklch(0.8295 0.1697 84.429);
	--warning-fg: oklch(0.279 0.077 45.635);

	--danger: oklch(0.6196 0.245 27.325);
	--danger-fg: oklch(0.971 0.013 17.38);

	--border: oklch(0.274 0.006 286.033);
	--input: oklch(0.4 0 258.33);
	--ring: oklch(0.7 0.345 262.881);
	--popover: oklch(0.1907 0 0);
	--surface: oklch(0.23 0 0);

	--chart-1: oklch(54.6% 0.245 262.881);
	--chart-2: oklch(60.787% 0.10072 251.489);
	--chart-3: oklch(55.8% 0.288 302.321);
	--chart-4: oklch(82.7% 0.119 306.383);
	--chart-5: oklch(62.7% 0.194 149.214);
	--chart-6: oklch(87.1% 0.15 154.449);
	--chart-7: oklch(66.6% 0.179 58.318);
	--chart-8: oklch(83.7% 0.128 66.29);
	--chart-9: oklch(57.7% 0.245 27.325);
	--chart-10: oklch(80.8% 0.114 19.571);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-bg text-fg;
	}
}
